<div class="container">
    <form novalidate [formGroup]="form" (ngSubmit)="process()">

      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" placeholder="type of prestation" formControlName="type_presta">
        <div class="alert alert-danger" *ngIf="isError('type_presta')">Champ invalide</div>
      </div>

      <div class="form-group">
        <label for="client">Client</label>
        <input type="text" class="form-control" id="client" formControlName="client">
        <div class="alert alert-danger" *ngIf="isError('client')">Champ invalide</div>
      </div>

      <div class="form-group">
        <label for="nbjour">Nb jours</label>
        <input type="number" class="form-control" id="nbjour" formControlName="nb_jours">
      </div>

      <div class="form-group">
          <label for="tjm">Tjm HT</label>
          <input type="number" class="form-control" id="tjm" formControlName="tjm_ht">
        </div>

      <div class="form-group">
          <label for="tva">Taux TVA</label>
          <input  type="number" class="form-control" id="tva" formControlName="taux_tva">
      </div>

      <div class="form-group">
          <label for="state">Action</label>
          <select id="state" class="form-control" formControlName="state">
            <!-- <option selected>Choose...</option> -->
            <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
          </select>
      </div>

      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>
