<div class="d-flex align-items-center header">

  <div>
    <span (click)="open = !open">
      <fa-icon [icon]="faBars"></fa-icon>
    </span>
  </div>

  <div class="title flex-grow-1 text-center">
    <h1>{{ title }}</h1>
  </div>

  <div>
      <span *ngIf="(log$ | async) === 'login'; else other">
        {{user}}
        <span>&nbsp; </span>
          <!-- <button (click)="logout()">logout</button> -->
          <fa-icon [icon]="faSignOutAlt" (click)="logout()"></fa-icon>
      </span>

      <ng-template #other>
        <!-- <button (click)="login()">login</button> -->
        Log in
        <span>&nbsp; </span>
        <fa-icon [icon]="faSignInAlt" (click)="login()"></fa-icon>
      </ng-template>

      <span>&nbsp; </span>

      <span>
          <fa-icon [icon]="faUser"></fa-icon>
      </span>
    <span>&nbsp; </span>
  </div>

</div>
